<h1>Manage Trainers</h1>

<h2>Browse Trainers</h2>
<table border="1">
  <tr>
    <th>Trainer ID</th>
    <th>Trainer Name</th>
  </tr>
  {{#each rows}}
  <tr>
    <td>{{this.trainer_id}}</td>
    <td>{{this.trainer_name}}</td>
  </tr>
  {{/each}}
</table>

<h2>Add Trainer</h2>
<form>
  <label>Trainer Name</label>
  <input type="text" name="trainer_name" />
  <button type="submit">Add</button>
</form>

<h2>Update Trainer</h2>
<form>
  <label>Select Trainer:</label>
  <select name="trainer_id" required>
    <option value="">-- Select a Trainer --</option>
    {{#each rows}}
      <option value="{{this.trainer_id}}">
        {{this.trainer_name}} (ID: {{this.trainer_id}})
      </option>
    {{/each}}
  </select>

  <br><br>

  <label>New Trainer Name:</label>
  <input type="text" name="trainer_name" required />

  <button type="submit">Update</button>
</form>

<h2>Delete Trainer</h2>
<form>
  <label>Select Trainer:</label>
  <select name="trainer_id" required>
    <option value="">-- Select a Trainer --</option>
    {{#each rows}}
      <option value="{{this.trainer_id}}">
        {{this.trainer_name}} (ID: {{this.trainer_id}})
      </option>
    {{/each}}
  </select>

  <button type="submit">Delete</button>
</form>
